body {
  color: white;
  background-color: black;
}
h1 {
  font-size: 20px;
  border: solid;
  border-color: greenyellow;
  border-width: 2px;
  text-align: center;
}
p {
  color: green;
  font-size: 12px;
}
div {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 100px;
}
.numbers-to-letters {list-style: lower-alpha;}
.dots-to-squares {list-style: square;}
div.header {
  padding: 50px;
  margin: 50px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid greenyellow;
  padding: 10px;
  border-style: solid;
}