body {
  color: white;
  background-color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
 

}
h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
p {
  color: green;
  font-size: 12px;
  background-color: aliceblue;
  border: chartreuse;
  border-radius: 10px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}
div {
  border-style: none;
  border-width: 2px;
  width: 100px;
  height: 100px;
}
.numbers-to-letters {list-style: lower-alpha;}
.dots-to-squares {list-style: square;}
div.header {
  padding: 50px;
  margin: 50px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid greenyellow;
  padding: 10px;
  border-style: solid;
}
header {
  width: auto;
  height: 100px;
  background-color: darkgrey;
  text-align: center;
  border-style: solid;
  border-color: greenyellow;
  padding: 30px;
  color: rgb(7, 34, 0);
  font-size: 50px;;
  margin: auto;
}
nav {
  width: 20%;
  height: 700px;
  background-color: rgb(58, 224, 216);
  border-style: solid;
  border-color: greenyellow;
  float: left;
  text-align: left;
  padding-right: 20px;

}
article {
  float: left;
  border-style: none;
  height: auto;
  width: 70%;
  text-align: center;
  border-color: greenyellow;
  
}
footer {
background-color: hotpink;
padding: 10px;
text-align: center;
color: black;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}