body {
  color: white;
  background-color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 

}
h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
p {
  color: green;
  font-size: 12px;
  background-color: aliceblue;
  border: chartreuse;
  border-radius: 10px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}
div {
  border-style: none;
  border-width: 2px;
  width: 100px;
  height: 100px;
}
.numbers-to-letters {list-style: lower-alpha;}
.dots-to-squares {list-style: square;}
div.header {
  padding: 50px;
  margin: 50px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid greenyellow;
  padding: 10px;
  border-style: solid;
}
#headeri {
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  text-align: center;
  border-style: solid;
  border-color: greenyellow;
  padding-bottom: 30px;
  color: rgb(51, 117, 35)
}
#navi {
  width: 150px;
  height: 500px;
  background-color: rgb(58, 224, 216);
  border-style: solid;
  border-color: greenyellow
}
#maini {
  float: left;
  border-style: solid;
  position: absolute;
  top: 142px;
  left: 182px;
  height: 500px;
  width: 100%;
  text-align: center;
  border-color: greenyellow;
  
}
#footteri {
  height: 50px;
  width: 100%;
  background-color: hotpink;
  color: black;
  text-align: center;
  padding-top: 20px;
}