table, th, td {
    border: 1px solid black;
}
.tekstiarea {
    width: 80%;
    height: 100px;
}

.taulukko {
    margin: 80px;
    background-color:coral

}

body {
    display: flex;
    margin: 10px;
}

.formi {
    display: flex;
    margin: 80px;
    background-color: cornflowerblue;

}

.inputti {
    margin: 10px;
    float: right;
}